<!DOCTYPE html>
<html lang="en" ng-app="ServerMonitor">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Monitor</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/DataTables/datatables.min.css" >
    <link rel="stylesheet" href="lib/ionicons.css" >
    <link rel="stylesheet" href="lib/angular-toastr.css" >
    <link rel="stylesheet" href="lib/animate.css" >
    <link rel="stylesheet" href="lib/bootstrap.css" >
    <link rel="stylesheet" href="lib/bootstrap-select.css" >
    <link rel="stylesheet" href="lib/bootstrap-switch.css" >
    <link rel="stylesheet" href="lib/bootstrap-tagsinput.css" >
    <link rel="stylesheet" href="lib/font-awesome.css" >
    <link rel="stylesheet" href="lib/fullcalendar.css" >
    <link rel="stylesheet" href="lib/leaflet.css" >
    <link rel="stylesheet" href="lib/angular-progress-button-styles.min.css" >
    <link rel="stylesheet" href="lib/chartist.min.css" >
    <link rel="stylesheet" href="lib/morris.css" >
    <link rel="stylesheet" href="lib/ion.rangeSlider.css" >
    <link rel="stylesheet" href="lib/ion.rangeSlider.skinFlat.css" >
    <link rel="stylesheet" href="lib/textAngular.css" >
    <link rel="stylesheet" href="lib/xeditable.css" >
    <link rel="stylesheet" href="lib/style.css" >
    <link rel="stylesheet" href="lib/select.css" >
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app/main.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
  <div class="body-bg"></div>
  <main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">
      <ba-sidebar></ba-sidebar>
      <page-top></page-top>

      <div class="al-main">
          <div class="al-content">
              <content-top></content-top>
              <div ui-view autoscroll="true" autoscroll-body-top></div>
          </div>
      </div>

      <footer class="al-footer clearfix">
          <div class="al-footer-right"></div>
          <div class="al-footer-main clearfix">
              <div class="al-copy">A Karthick Rathnam's Product</div>
          </div>
      </footer>

      <back-top></back-top>
  </main>

  <div id="preloader" ng-show="!$pageFinishedLoading">
      <div></div>
  </div>

  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="lib/jquery.js"></script>
  <script src="lib/jquery.cookies.js"></script>
  <script src="lib/socketio.js"></script>
  <script src="lib/DataTables/datatables.min.js"></script>
  <script src="lib/jquery-ui.js"></script>
  <script src="lib/jquery.easing.js"></script>
  <script src="lib/jquery.easypiechart.js"></script>
  <script src="lib/Chart.js"></script>
  <script src="lib/amcharts.js"></script>
  <script src="lib/responsive.min.js"></script>
  <script src="lib/serial.js"></script>
  <script src="lib/funnel.js"></script>
  <script src="lib/pie.js"></script>
  <script src="lib/gantt.js"></script>
  <script src="lib/amstock.js"></script>
  <script src="lib/ammap.js"></script>
  <script src="lib/worldLow.js"></script>
  <script src="lib/angular.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="lib/jquery.slimscroll.js"></script>
  <script src="lib/angular-slimscroll.js"></script>
  <script src="lib/smart-table.js"></script>
  <script src="lib/angular-toastr.tpls.js"></script>
  <script src="lib/angular-touch.js"></script>
  <script src="lib/sortable.js"></script>
  <script src="lib/dropdown.js"></script>
  <script src="lib/bootstrap-select.js"></script>
  <script src="lib/bootstrap-switch.js"></script>
  <script src="lib/bootstrap-tagsinput.js"></script>
  <script src="lib/moment.js"></script>
  <script src="lib/fullcalendar.js"></script>
  <script src="lib/leaflet-src.js"></script>
  <script src="lib/angular-progress-button-styles.min.js"></script>
  <script src="lib/angular-ui-router.js"></script>
  <script src="lib/angular-chart.js"></script>
  <script src="lib/chartist.min.js"></script>
  <script src="lib/angular-chartist.js"></script>
  <script src="lib/eve.js"></script>
  <script src="lib/raphael.min.js"></script>
  <script src="lib/mocha.js"></script>
  <script src="lib/morris.js"></script>
  <script src="lib/angular-morris-chart.min.js"></script>
  <script src="lib/ion.rangeSlider.js"></script>
  <script src="lib/ui-bootstrap-tpls.js"></script>
  <script src="lib/angular-animate.js"></script>
  <script src="lib/rangy-core.js"></script>
  <script src="lib/rangy-classapplier.js"></script>
  <script src="lib/rangy-highlighter.js"></script>
  <script src="lib/rangy-selectionsaverestore.js"></script>
  <script src="lib/rangy-serializer.js"></script>
  <script src="lib/rangy-textrange.js"></script>
  <script src="lib/textAngular.js"></script>
  <script src="lib/textAngular-sanitize.js"></script>
  <script src="lib/textAngularSetup.js"></script>
  <script src="lib/xeditable.js"></script>
  <script src="lib/jstree.js"></script>
  <script src="lib/ngJsTree.js"></script>
  <script src="lib/select.js"></script>
  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>
  <!-- endbower -->
  <!-- endbuild 
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <script src="app/theme/theme.module.js"></script>
  <script src="app/theme/components/components.module.js"></script>
  <script src="app/theme/inputs/inputs.module.js"></script>
  <script src="app/theme/theme.config.js"></script>
  <script src="app/theme/theme.configProvider.js"></script>
  <script src="app/theme/theme.constants.js"></script>
  <script src="app/theme/theme.run.js"></script>
  <script src="app/theme/theme.service.js"></script>
  <script src="app/theme/components/toastrLibConfig.js"></script>
  <script src="app/theme/directives/animatedChange.js"></script>
  <script src="app/theme/directives/autoExpand.js"></script>
  <script src="app/theme/directives/autoFocus.js"></script>
  <script src="app/theme/directives/includeWithScope.js"></script>
  <script src="app/theme/directives/ionSlider.js"></script>
  <script src="app/theme/directives/ngFileSelect.js"></script>
  <script src="app/theme/directives/scrollPosition.js"></script>
  <script src="app/theme/directives/trackWidth.js"></script>
  <script src="app/theme/directives/zoomIn.js"></script>
  <script src="app/theme/services/baProgressModal.js"></script>
  <script src="app/theme/services/baUtil.js"></script>
  <script src="app/theme/services/fileReader.js"></script>
  <script src="app/theme/services/preloader.js"></script>
  <script src="app/theme/services/stopableInterval.js"></script>
  <script src="app/theme/components/backTop/backTop.directive.js"></script>
  <script src="app/theme/components/baPanel/baPanel.directive.js"></script>
  <script src="app/theme/components/baPanel/baPanel.service.js"></script>
  <script src="app/theme/components/baPanel/baPanelBlur.directive.js"></script>
  <script src="app/theme/components/baPanel/baPanelBlurHelper.service.js"></script>
  <script src="app/theme/components/baPanel/baPanelSelf.directive.js"></script>
  <script src="app/theme/components/baSidebar/baSidebar.directive.js"></script>
  <script src="app/theme/components/baSidebar/baSidebar.service.js"></script>
  <script src="app/theme/components/baSidebar/BaSidebarCtrl.js"></script>
  <script src="app/theme/components/baSidebar/baSidebarHelpers.directive.js"></script>
  <script src="app/theme/components/baWizard/baWizard.directive.js"></script>
  <script src="app/theme/components/baWizard/baWizardCtrl.js"></script>
  <script src="app/theme/components/baWizard/baWizardStep.directive.js"></script>
  <script src="app/theme/components/contentTop/contentTop.directive.js"></script>
  <script src="app/theme/components/msgCenter/msgCenter.directive.js"></script>
  <script src="app/theme/components/msgCenter/MsgCenterCtrl.js"></script>
  <script src="app/theme/components/pageTop/pageTop.directive.js"></script>
  <script src="app/theme/components/progressBarRound/progressBarRound.directive.js"></script>
  <script src="app/theme/components/widgets/widgets.directive.js"></script>
  <script src="app/theme/filters/image/appImage.js"></script>
  <script src="app/theme/filters/image/kameleonImg.js"></script>
  <script src="app/theme/filters/image/profilePicture.js"></script>
  <script src="app/theme/filters/text/removeHtml.js"></script>
  <script src="app/theme/inputs/baSwitcher/baSwitcher.js"></script>
  <script src="app/theme/components/backTop/lib/jquery.backTop.min.js"></script>

  <script src="app/app.js"></script>
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

</body>
</html>