<div class="modal-content" ng-if="modalType === 'add'">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Add host</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="hostName">Hostname</label>
                <input type="text" ng-model="hostName" class="form-control" id="hostName" >
            </div>
            <div class="form-group">
                <label for="hostUsername">Username</label>
                <input type="text" ng-model="userName" class="form-control" id="hostUsername" >
            </div>
            <div class="form-group">
                <label for="hostPassword">Password</label>
                <input type="password" ng-model="passWord" class="form-control" id="hostPassword" >
            </div>
            <div class="form-group">
                <label for="hostType">Host type</label>
                <select ng-model="hostType" class="form-control" id="hostType" >
                    <option value="windows">Windows</option>
                    <option value="linux">Linux</option>
                </select>
            </div>
        </form>   

        <div class="alert bg-success" ng-bind-html="successMsg" ng-if="successStatus === 'true'"></div>
        <div class="alert bg-danger" ng-bind-html="errorMsg" ng-if="errorStatus === 'true'">
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addHostSubmit()">Submit</button>
    </div>
</div>


<div class="modal-content" ng-if="modalType === 'edit'">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Edit host</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="hostNameEdit">Hostname</label>
                <input type="hidden" ng-model="hostIdEdit" class="form-control" id="hostIdEdit" >
                <input type="text" ng-model="hostNameEdit" class="form-control" id="hostNameEdit" >
            </div>
            <div class="form-group">
                <label for="hostUsernameEdit">Username</label>
                <input type="text" ng-model="userNameEdit" class="form-control" id="hostUsernameEdit" >
            </div>
            <div class="form-group">
                <label for="hostPasswordEdit">Password</label>
                <input type="password" ng-model="passWordEdit" class="form-control" id="hostPasswordEdit" >
            </div>
            <div class="form-group">
                <label for="hostTypeEdit">Host type</label>
                <select ng-model="hostTypeEdit" class="form-control" id="hostTypeEdit" >
                    <option value="windows">Windows</option>
                    <option value="linux">Linux</option>
                </select>
            </div>
        </form>   

        <div class="alert bg-success" ng-bind-html="successMsg" ng-if="successStatus === 'true'"></div>
        <div class="alert bg-danger" ng-bind-html="errorMsg" ng-if="errorStatus === 'true'">
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="editHostSubmit()">Submit</button>
    </div>
</div>


<div class="modal-content" ng-if="modalType === 'delete'">
    <div class="modal-header bg-danger">
      <i class="ion-flame modal-icon"></i><span> Delete host</span>
    </div>
    <div class="modal-body text-center">Are you sure?</div>
    <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
      <button type="button" class="btn btn-danger" ng-click="deleteHostSubmit()">Yes</button>
    </div>
  </div>
  