<div class="row" >
    <div class="col-md-7">

    </div>

    <div class="col-md-5">
        <div class="form-group">
            <select class="form-control selectpicker with-search"
                data-live-search="true"
                selectpicker
                ng-model="selectedHostItem"
                ng-dropdown
                ng-change="hostSelectionChanged()"
                ng-options="option.label for option in hostItemOptions"
                >
            </select>
        </div>
    </div>
</div>
