<dashboard-host-selector></dashboard-host-selector>

<dashboard-live-pie-chart></dashboard-live-pie-chart>

<dashboard-line-progress-chart></dashboard-line-progress-chart>

<dashboard-process-table></dashboard-process-table>