<div ba-panel ba-panel-title="Server Stats" ba-panel-class="with-scroll ">
    <div class="chartjs-canvas-holder-third-row">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                chart-series="series" chart-click="changeData"></canvas>
    </div>
</div>
